html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
.profile{
    font-size: 15px;
    font-family: tahoma;
    background: rgb(233, 242, 245);
    /* color: rgb(39, 166, 235); */
    color: #0555b3;
}
img{
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}
.blog-post-section{
    padding: 80px 0 20px;
    overflow: hidden;
    height: 153vh;
    /* height: 100vh; */
}
.blog-entry{
    margin-bottom: 200px;
    position: relative;
}
.blog-entry .entry-cover img{
    width: 100%;
    /* height: 450px; */
    height: 370px;
    object-fit: cover;
}
.blog-entry .entry-hover{
    position: absolute;
    margin: 25px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}
.blog-entry .entry-hover .hover-cover{
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: 0 auto -75px;
    z-index: 2;
    border-radius: 300px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    
}
.blog-entry:hover .entry-hover .hover-cover{
    height: auto;
    width: auto;
    border-radius: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.blog-entry:hover .entry-date{
    top: auto;
    bottom: 0;
    margin-bottom: 20px;
}
.blog-entry .entry-date{
    position: absolute;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    left: 0;
    right: 0;
    top: 50%;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
    z-index: 3;
    margin: -12px auto 0;
}
.blog-entry .hover-info{
    position: relative;
    top: 100%;
    margin-top: -25px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 4;
}
.blog-entry:hover .hover-info{
    top: 0;
    margin-top: 25px;
}
.blog-entry .hover-info img{
    border: 3px solid #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto 18px;
}
.blog-entry:hover .hover-info h3 a,
.blog-entry:hover .hover-info h3,
.blog-entry:hover .hover-info p{
    color: #333 !important;
}
.blog-entry .hover-info p{
    font-size: 13px;
    color: rgb(39, 166, 235);
}
.blog-entry .hover-info h3 a{
    color: rgb(39, 166, 235);
    text-decoration: none;
}
.blog-entry .hover-info .hover-text,
.blog-entry .hover-info .hover-author{
    display: none;
    margin-bottom: 20px;
}
.blog-entry:hover .hover-info .hover-text,
.blog-entry:hover .hover-info .hover-author{
    display: block;
}
.designation.active, .real{
    background: white !important;
}
.blog-entry .entry-hover .hover-cover,
.blog-entry:hover .entry-hover .hover-cover,
.blog-entry .hover-info,
.blog-entry .entry-date{
    transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 600px){
    
.blog-post-section{
    padding: 50px 20px;
    overflow: scroll;
    height: auto;
}
}
/* --------------------------------------- */
.hover-info h3{
    font-size:0.75rem;
}

