{% extends 'base.html'%}
{%block head %}
<meta charset="utf-8" />
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="#" />

    <link
      href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="https://fonts.font.im/css?family=Kalam" rel="stylesheet" />
    <link
      href="https://fonts.googlefonts.cn/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      href="https://at.alicdn.com/t/c/font_3724642_dw14pio9i6b.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/base.min.css')}}"
    />

    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/posts/contributers2.css')}}"
  />
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    


{%endblock head %}
{% block content %} 
<div class="main-content">


    
    <!--Default Light Theme-->

     <!--Dark theme-->
    <div>
      <github-card data-user="zhuiguang-zkn" data-theme="dark"></github-card>
    </div>
    <div>
        <github-card data-user="dai-yutong"></github-card>
      </div>
      <div>
        <github-card data-user="moon-xu37" data-theme="dark"></github-card>
      </div>
    <div>
        <github-card data-user="cypppper"></github-card>
      </div>
  
<script type="module" src="https://unpkg.com/@rocktimsaikia/github-card@latest?module"></script>

</div>
{% endblock content%}