/* Layout Styles */
html, body {

	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
}

.card-list {
	display: block;

	padding: 0;
	font-size: 0;

	list-style: none;
    width:58rem;
}

.card {
	display: inline-block;

	width: 12rem;
    height:20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}