<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.font.im/css?family=Kalam" rel="stylesheet">
    <link
      href='https://fonts.googlefonts.cn/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
      rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/user/followLs.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user/followLs.css')}}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user/mystyle.min.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="../../static/css/user/mystyle.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename='js/user/followLs.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
    </style>
</head>
<main>


    <div class="container head detail" style="height:auto; width: 100%;;margin-left:0;">
        <div class="row">
          <nav class="navbar-default navbar " style="margin-bottom:0px ;">
            <div class="headwrap">
              <!-- <div class="container"> -->
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <a class="navbar-brand" href="#">
                  <!-- <img src="../imgs_icons/Hobbitat_cut.png" alt="Logo"> -->
                  <div class="logo">
                    Hobbitat
                  </div>
                </a>
                <div class="slogan">
                  校园兴趣爱好分享社区
                </div>
                <div class="navbar-search ">
                  <form class="navbar-form" role="search">
                    <div class="input-group add-on">
                      <input class="form-control form-control222" placeholder="Search" name="srch-term" id="srch-term"
                        type="text">
                      <div class="input-group-btn">
                        <button class="btn btn-default btn-default2913" type="submit"
                          style="width:100%;height: 100%;text-align: center;">
                          <i class="glyphicon glyphicon-search" style="margin: auto;"></i>
                        </button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:15px 0px 5px 0px;">
                <!-- <ul class="nav navbar-nav"> </ul> -->
                <ul class="nav navbar-nav navbar-right" style="padding:0;margin-right:2px;">
                  <li><a href="#">首页</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">分区<span class="caret"></span></a>
                    <ul class="dropdown-menu animated zoomIn">
                      <li><a href="#">Music</a></li>
                      <li><a href="#">Art</a></li>
                      <li><a href="#">Sports</a></li>
                      <li><a href="#">Game</a></li>
                    </ul>
                  </li>
                  <li><a href="#">关注</a></li>

                  <li class="dropdown current-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false"
                      style="padding-top:0;padding-bottom:0;-webkit-transform: translate(0,-9px);transform: translate(0,-9px);">

                      <img class="current-user-photo" src="../../static/image/imgs_icons/girlphoto.svg" alt="个人中心">
                      <span class="caret"
                        style="-webkit-transform: translate(0px,10px);transform: translate(0px,10px);"></span>
                    </a>


                    <ul class="dropdown-menu animated zoomIn">
                      <li>
                        <div>
                          用户名：
                          <br>
                          Alex
                        </div>
                      </li>
                      <li><a href="#">个人中心</a></li>
                      <li><a href="#"> 关注列表</a></li>
                      <li><a href="#"> 通知 </a></li>
                      <li><a href="#"> 历史 </a></li>
                      <li><a href="#"> 设置 </a></li>
                      <li><a href="#">帮助</a></li>
                      <li><a href="#"> 联系我们 </a></li>

                    </ul>
                  </li>

                </ul>
              </div>
              <!-- /.navbar-collapse -->
              <!-- </div> -->
              <!-- /.container-fluid -->
            </div>
          </nav>
          <!-- <div style="display:block;width:100%;min-height:65px;"></div> -->
        </div>
      </div>




    <div class="profile" style="padding-top:30px">
        <h1 style="text-align: center;
            margin-bottom:-26px">关注的人</h1>
        <div class="blog-post-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="blog-entry">
                            <div class="entry-cover">
                                <a href=""><img
                                        src="https://images.unsplash.com/photo-1526268862070-516d2ac797a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=677&q=80"
                                        alt=""></a>
                            </div>
                            <div class="entry-hover">
                                <div class="hover-cover real"></div>
                                <h3 class="entry-date">10.15,2022</h3>
                                <div class="hover-info">
                                    <img src="https://image.freepik.com/free-photo/beautiful-blonde-girl-waiting-train-station_91497-2960.jpg"
                                        alt="">
                                    <p class="hover-author">会飞的猪</p>
                                    <h3><a href="">愿你阅尽千帆，归来仍少年</a></h3>
                                    <p class="designation">大二 电院</p>
                                    <p class="hover-text">现代诗爱好者，期待震慑灵魂深处的沟通。</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="blog-entry">
                            <div class="entry-cover">
                                <a href=""><img
                                        src="https://images.unsplash.com/photo-1526268862070-516d2ac797a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=677&q=80"
                                        alt=""></a>
                            </div>
                            <div class="entry-hover">
                                <div class="hover-cover real"></div>
                                <h3 class="entry-date">10.15,2022</h3>
                                <div class="hover-info">
                                    <img src="https://image.freepik.com/free-photo/beautiful-blonde-girl-waiting-train-station_91497-2960.jpg"
                                        alt="">
                                    <p class="hover-author">会飞的猪</p>
                                    <h3><a href="">愿你阅尽千帆，归来仍少年</a></h3>
                                    <p class="designation">大二 电院</p>
                                    <p class="hover-text">现代诗爱好者，期待震慑灵魂深处的沟通。</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="blog-entry">
                            <div class="entry-cover">
                                <a href=""><img
                                        src="https://images.unsplash.com/photo-1526268862070-516d2ac797a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=677&q=80"
                                        alt=""></a>
                            </div>
                            <div class="entry-hover">
                                <div class="hover-cover real"></div>
                                <h3 class="entry-date">10.15,2022</h3>
                                <div class="hover-info">
                                    <img src="https://image.freepik.com/free-photo/beautiful-blonde-girl-waiting-train-station_91497-2960.jpg"
                                        alt="">
                                    <p class="hover-author">会飞的猪</p>
                                    <h3><a href="">愿你阅尽千帆，归来仍少年</a></h3>
                                    <p class="designation">大二 电院</p>
                                    <p class="hover-text">现代诗爱好者，期待震慑灵魂深处的沟通。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->


                    <!-- <div class="row"> -->
                    <div class="col-md-3">
                        <div class="blog-entry">
                            <div class="entry-cover">
                                <a href=""><img
                                        src="https://images.unsplash.com/photo-1526268862070-516d2ac797a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=677&q=80"
                                        alt=""></a>
                            </div>
                            <div class="entry-hover">
                                <div class="hover-cover real"></div>
                                <h3 class="entry-date">10.15,2022</h3>
                                <div class="hover-info">
                                    <img src="https://image.freepik.com/free-photo/beautiful-blonde-girl-waiting-train-station_91497-2960.jpg"
                                        alt="">
                                    <p class="hover-author">会飞的猪</p>
                                    <h3><a href="">愿你阅尽千帆，归来仍少年</a></h3>
                                    <p class="designation">大二 电院</p>
                                    <p class="hover-text">现代诗爱好者，期待震慑灵魂深处的沟通。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="blog-entry">
                            <div class="entry-cover">
                                <a href=""><img
                                        src="https://images.unsplash.com/photo-1526268862070-516d2ac797a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=677&q=80"
                                        alt=""></a>
                            </div>
                            <div class="entry-hover">
                                <div class="hover-cover real"></div>
                                <h3 class="entry-date">10.15,2022</h3>
                                <div class="hover-info">
                                    <img src="https://image.freepik.com/free-photo/beautiful-blonde-girl-waiting-train-station_91497-2960.jpg"
                                        alt="">
                                    <p class="hover-author">会飞的猪</p>
                                    <h3><a href="">愿你阅尽千帆，归来仍少年</a></h3>
                                    <p class="designation">大二 电院</p>
                                    <p class="hover-text">现代诗爱好者，期待震慑灵魂深处的沟通。</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="blog-entry">
                            <div class="entry-cover">
                                <a href=""><img
                                        src="https://images.unsplash.com/photo-1526268862070-516d2ac797a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=677&q=80"
                                        alt=""></a>
                            </div>
                            <div class="entry-hover">
                                <div class="hover-cover real"></div>
                                <h3 class="entry-date">10.15,2022</h3>
                                <div class="hover-info">
                                    <img src="https://image.freepik.com/free-photo/beautiful-blonde-girl-waiting-train-station_91497-2960.jpg"
                                        alt="">
                                    <p class="hover-author">会飞的猪</p>
                                    <h3><a href="">愿你阅尽千帆，归来仍少年</a></h3>
                                    <p class="designation">大二 电院</p>
                                    <p class="hover-text">现代诗爱好者，期待震慑灵魂深处的沟通。</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="blog-entry">
                            <div class="entry-cover">
                                <a href=""><img
                                        src="https://images.unsplash.com/photo-1526268862070-516d2ac797a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=677&q=80"
                                        alt=""></a>
                            </div>
                            <div class="entry-hover">
                                <div class="hover-cover real"></div>
                                <h3 class="entry-date">10.15,2022</h3>
                                <div class="hover-info">
                                    <img src="https://image.freepik.com/free-photo/beautiful-blonde-girl-waiting-train-station_91497-2960.jpg"
                                        alt="">
                                    <p class="hover-author">会飞的猪</p>
                                    <h3><a href="">愿你阅尽千帆，归来仍少年</a></h3>
                                    <p class="designation">大二 电院</p>
                                    <p class="hover-text">现代诗爱好者，期待震慑灵魂深处的沟通。</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="blog-entry">
                            <div class="entry-cover">
                                <a href=""><img
                                        src="https://images.unsplash.com/photo-1526268862070-516d2ac797a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=677&q=80"
                                        alt=""></a>
                            </div>
                            <div class="entry-hover">
                                <div class="hover-cover real"></div>
                                <h3 class="entry-date">10.15,2022</h3>
                                <div class="hover-info">
                                    <img src="https://image.freepik.com/free-photo/beautiful-blonde-girl-waiting-train-station_91497-2960.jpg"
                                        alt="">
                                    <p class="hover-author">会飞的猪</p>
                                    <h3><a href="">愿你阅尽千帆，归来仍少年</a></h3>
                                    <p class="designation">大二 电院</p>
                                    <p class="hover-text">现代诗爱好者，期待震慑灵魂深处的沟通。</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>