{% extends 'base.html'%} {% from 'bootstrap/pagination.html' import
render_pagination %} {% block head %}

<title>Index</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/posts/index-and-detail-style.css')}}" />
{{ super() }} {% endblock head%} {% block content%}

<div class="index">
  {# Posts now #}
  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9" style="padding-left: 0; margin-top: 20px">
          {% if (search_users | length) >0 %} {# POSTs #} {% for i in
          range((search_users | length) )%}
          <div class="post post-block">
            <div class="wrap-ut pull-left">
              <div class="wrapper pull-left">
                <div class="userinfo">
                  <div class="index-user-photo detail-user-photo">
                    <img src="{{search_users[i].image}}" />
                  </div>

                  <div class="postername">
                    <a href="#">
                      <span>{{search_users[i].about}}</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="posttext pull-right">
                <h3>
                  <a href="{{url_for('user.profile',uid=search_users[i].id)}}" target="_blank">
                    {{search_users[i].username}}
                  </a>
                </h3>



              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            {% endfor %}
            {% else %} "暂无结果" {% endif %}
          </div>
        </div>


        {# Siderbars #}
        <div class="col-lg-3 col-md-3">
          <div class="sidebarblock">
            <a href="{{url_for('posts.newpost')}}" class="topost">
              <div class="topost">
                <i class="iconfont icon-add"> 新建话题</i>
              </div>
            </a>
          </div>

          <div class="sidebarblock">
            <a href="" class="activities">
              <div class="activities">
                <i class="iconfont icon-activity"> 活动</i>
              </div>
            </a>
          </div>

          <div class="sidebarblock recommendations user-recommendation">
            <h3 style="
                line-height: 66px;
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin: 0;
              ">
              推荐关注
            </h3>

            <div class="divline"></div>
            <div class="blocktxt">
              <ul class="recom recom-user">
                {% for recom_user in recommend_users%}
                <li>
                  <div class="recom_user_img pull-left" style="
                      padding-top: 2px;
                      padding-bottom: 2px;
                      height: 28px;
                      width: 24px;
                      overflow: hidden;
                    ">
                    <img src="{{recom_user.image}} " style="width: 24px" />
                  </div>

                  <a href="#">
                    {# 个人主页的链接？ #}
                    <p class="pull-left" style="
                        text-overflow: ellipsis;
                        height: 28px;
                        overflow: hidden;
                        width: 50%;
                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        word-break: break-all;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        /* letter-spacing: 2px; */
                        font-size: 13px;
                        padding-top: 2px;
                        padding-left: 6px;
                      ">
                      {{recom_user.username}}
                    </p>
                    <span class="badge pull-right">{{recom_user.followers.count()}} 关注</span>
                    <div class="clearfix"></div>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="sidebarblock recommendations">
            <h3 style="
                line-height: 66px;
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin: 0;
              ">
              推荐话题
            </h3>

            <div class="divline"></div>
            <div class="blocktxt">
              <ul class="recom">
                {% for po in recommend_posts%}
                <li>
                  <a href="{{url_for('posts.detail',post_id=po.id)}}">
                    <p class="pull-left" style="
                        text-overflow: ellipsis;
                        height: 28px;
                        overflow: hidden;
                        width: 70%;
                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        word-break: break-all;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        /* letter-spacing: 2px; */
                        font-size: 13px;
                      ">
                      {{po.title}}
                    </p>
                    <span class="badge pull-right">{{po.num_comments}} 讨论</span>
                    <!-- <div class="badge pull-right" style="width:25%;">{{po.num_comments}} 讨论</div>  -->
                    <div class="clearfix"></div>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {# Pages #}

  </section>
</div>

{% endblock content %}