{% if flag %}
<div class="msg left-msg">
    <div class="msg-img" style="background-image: url({{message.author.image}})"></div>
    <div class="msg-bubble">
        <div class="msg-info">
            <div class="msg-info-name">{{message.author.username}}</div>
            <div class="msg-info-time">{{message.timestamp.strftime("%Y-%m-%d %I:%M:%S %p")}}</div>
        </div>
        <div class="msg-text">{{message.body | safe}}</div>
    </div>
</div>
{% elif message.author_id != session["user_id"] %}
<div class="msg left-msg">
    <div class="msg-img" style="background-image: url({{message.author.image}})"></div>
    <div class="msg-bubble">
        <div class="msg-info">
            <div class="msg-info-name">{{message.author.username}}</div>
            <div class="msg-info-time">{{message.timestamp.strftime("%Y-%m-%d %I:%M:%S %p")}}</div>
        </div>
        <div class="msg-text">{{message.body | safe}}</div>
    </div>
</div>
{% else %}
<div class="msg right-msg">
    <div class="msg-img" style="background-image: url({{message.author.image}})"></div>
    <div class="msg-bubble">
        <div class="msg-info">
            <div class="msg-info-name">{{message.author.username}}</div>
            <div class="msg-info-time">{{message.timestamp.strftime("%Y-%m-%d %I:%M:%S %p")}}</div>
        </div>
        <div class="msg-text">{{message.body | safe}}</div>
        <div class="bt-table">
            <input type='text' name="link{{message.id}}" value="message/delete/{{message.id}}" style="display: none;">
            <button  class="hover-btn outline delete-button" >删除</button>
            <button  class="hover-btn outline quote-button" >引用</button>
        </div>
    </div>
</div>
{% endif %}
