{% if message.author_id != current_user.id %}
<div class="msg left-msg">
    <div class="msg-img" style="background-image: url({{message.author.image}})"></div>
    <div class="msg-bubble">
        <div class="msg-info">
            <div class="msg-info-name">{{message.author.username}}</div>
            <div class="msg-info-time">{{message.timestamp}}</div>
        </div>
        <div class="msg-text">{{message.body}}</div>
    </div>
    
</div>
{% else %}
<div class="msg right-msg">
    <div class="msg-img" style="background-image: url({{message.author.image}})"></div>
    <div class="msg-bubble">
        <div class="msg-info">
            <div class="msg-info-name">{{message.author.username}}</div>
            <div class="msg-info-time">{{message.timestamp}}</div>
        </div>
        <div class="msg-text">{{message.body}}</div>
        <div class="bt-table">
            
            <button  class="hover-btn outline delete-button" >删除</button>
            <button  class="hover-btn outline quote-button" >引用</button>
        </div>
    </div>


</div>
{% endif %}
