

<!DOCTYPE html>

{%block head %}


    <link rel="stylesheet"  href="{{ url_for('static',filename='css/user/chat.css')}}">
    
    
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon"  href="#"/>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.font.im/css?family=Kalam" rel="stylesheet">
    <link
        href='https://fonts.googlefonts.cn/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/c/font_3724642_dw14pio9i6b.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.min.css')}}">
<!-- ------------- -->





    {%endblock head %}
    <body>
    {% block nav %}
    <div class="container head" style="height:auto; width: 100%;;margin-left:0;">
        <div class="row">
            <nav class="navbar-default navbar ">
                <div class="headwrap">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <div class="logo">
                                Hobbitat
                            </div>
                        </a>
                        <div class="slogan">
                            校园兴趣爱好分享社区
                        </div>
                        <div class="navbar-search ">
                            <form class="navbar-form" role="search" action="{{url_for('posts.search')}}">
                                <div class="input-group add-on">
                                    <input class="form-control form-control222" placeholder="搜索"
                                        name="srch-term" id="srch-term" type="text">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default 
                                            dropdown-toggle" data-toggle="dropdown" style="outline:none;border-radius:0px;color:gray;">
                                                <span class="search-in-area">帖子标题</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" style="min-width:100px;outline:none;">
                                                <li>
                                                    <a href="#" onclick="shows($(this).text())">帖子标题</a>
                                                </li>
                                                <li>
                                                    <a href="#" onclick="shows($(this).text())">帖子内容</a>
                                                </li>
                                                <li>
                                                    <a href="#" onclick="shows($(this).text())">分区</a>
                                                </li>
                                            </ul>
                                        </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default btn-default2913" type="submit"
                                            style="width:100%;height: 100%;text-align: center;">
                                            <i class="glyphicon glyphicon-search" style="margin: auto;"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>


                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
                        style="padding:15px 0px 5px 0px;">

                        <ul class="nav navbar-nav navbar-right" style="padding:0;margin-right:2px;">
                            <li><a href="#">首页</a></li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">分区<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu animated zoomIn">
                                    <li><a href="#">音乐</a></li>
                                    <li><a href="#">绘画</a></li>
                                    <li><a href="#">运动</a></li>
                                    <li><a href="#">游戏</a></li>
                                </ul>
                            </li>
                            <li><a href="#">关注</a></li>

                            <li class="dropdown current-user">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false"
                                    style="padding-top:0;padding-bottom:0;-webkit-transform: translate(0,-9px);transform: translate(0,-9px);">

                                    <img class="current-user-photo" src='#' alt="个人中心"><!--注意这里-->
                                    <span class="caret"
                                        style="-webkit-transform: translate(0,11px);transform: translate(0,11px);"></span>
                                </a>


                                <ul class="dropdown-menu animated zoomIn">
                                    <li>
                                        <div>
                                            用户名：
                                            <br>
                                            用户名<!--注意这里-->
                                        </div>
                                    </li>
                                    <li><a href="#">个人中心</a></li>
                                    <li><a href="#"> 关注列表</a></li>
                                    <li><a href="#"> 通知 </a></li>
                                    <li><a href="#"> 历史 </a></li>
                                    <li><a href="#"> 设置 </a></li>
                                    <li><a href="#">帮助</a></li>
                                    <li><a href="#"> 联系我们 </a></li>

                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
           
        </div>
    </div>
    {% endblock nav%}

    {% block other_content %}
    {% endblock other_content%}

    {% block scripts %}
    <script>
        function shows(a) {
            $('.search-in-area').text(a);
        }
    </script>

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>



    {% endblock scripts %}
 {%block content %}

    <section class="msger"   >
        <header class="msger-header">
          <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> SimpleChat
          </div>
          <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
          </div>
        </header>

        <main class="msger-chat">
          <div class="msg left-msg">
            <div
             class="msg-img"
             style="background-image: url(https://tse2-mm.cn.bing.net/th/id/OIP-C.GG8lVnnjn-tUYAjlL4LGAQAAAA?w=198&h=198&c=7&r=0&o=5&dpr=1.6&pid=1.7)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">BOT</div>
                <div class="msg-info-time">12:45</div>
              </div>

              <div class="msg-text">
                Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
              </div>
            </div>
          </div>
        <!-- {%for i in chat['message'] %}
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">{{chat['rightuser']['username']}}</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                {{i['text']}}
              </div>
            </div>
          </div>

        {%endfor%} -->
        <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(https://cn.bing.com/images/search?view=detailV2&ccid=JP4p6VvD&id=81DFEB13CF0B2E4FAF56CA24DF5CFB6AF544A3BB&thid=OIP.JP4p6VvD-8-eeKPUhEzmIwAAAA&mediaurl=https%3a%2f%2ftupian.qqw21.com%2farticle%2fUploadPic%2f2020-1%2f20201122246510666.jpg&exph=420&expw=420&q=%e5%a4%b4%e5%83%8f&simid=608012965414322770&FORM=IRPRST&ck=2D8991EBF9A31CC0AEE07F0693B78642&selectedIndex=33)"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">aaa</div>
                <div class="msg-info-time">2022.11.20 12:23</div>
              </div>

              <div class="msg-text">
                iiii
              </div>
            </div>
          </div>

        </main>
        <form class="msger-inputarea">
          <input type="text" class="msger-input" placeholder="Enter your message...">
          <button type="submit" class="msger-send-btn">Send</button>
        </form>
        
      </section> 
     
      {%endblock content %} 
    </body>